* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffffff;
  color: #000000;
  position: relative;
}

header {
  background: #051f46;
  padding: 20px 10%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0%;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

button {
  font-family: inherit;
  background: none;
  outline: none;
  background: rgb(9, 9, 76);
  color: #fff;
}

.loading {
  pointer-events: none;
  opacity: 0.7;
}